.container {
	padding-right: 0;
	padding-left: 0;
}

header .row {
	height: 540px;
}

.header-logo {
	float: left;
	width: 40px;
	height: 40px;
}

.header-menu {
	float: right;
	width: 40px;
	height: 40px;
}

.main-header {
	display: block;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	background-color: #696969;
	width: 100%;
	position: relative;
	/*background-image: ;*/
	background: rgba(0,0,0,0.5) url('../img/header-bg.jpg');
	background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.6), 
          rgba(0, 0, 0, 0.6)
        ),
        /* bottom, image */
        url('../img/header-bg.jpg');

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.main-text {
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 35%;
}

.main-header h1 {
	border: 4px white solid;
	display: inline-block;
	padding: 10px;

}

.main-header h5 {
	/*display: inline;*/
	font-size: 14px;
}

.title {
	text-transform: uppercase;
	position: relative;
	text-align: center;
	margin: 50px auto;
}

.title h3:before {
	position: absolute;
	content: " ";
	bottom: -30px;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	height: 2px;
	background-color: #8238A7;
}

.title h2 {
	font-size: 24px;
	font-weight: bold;
}

.title h3 {
	font-size: 14px;
	padding-top: 20px;
	font-weight: bold;
}

h4 {
	text-align: center;
	margin-bottom: 30px;
}

.personal-info img {
	border-radius: 50%;
	width: 100%;
	max-width: 250px;
	/*height: 250px;*/
	margin: 0 auto;
	display: block;
}

.personal-info {
	margin-bottom: 15px;
}

.portfolio-list {
	min-height: 300px;
	width: 100%;
	border: 1px dashed #000;
	text-align: center;
	vertical-align: middle;
}

.portfolio-list ul {
	padding-left: 0;
	display: inline-block;

}

.portfolio-list li {
	list-style-type: none;
	display: inline;
}

.portfolio-list img {
	max-width: 24%;
	padding-left: 10px;
	margin-top: 70px;

}

.contacts {
	text-align: left;
	padding-top: 10px;
}

.contacts span {
	text-transform: uppercase;
	padding-left: 10px;
}

.contacts p {
	display: inline;
	text-transform: none;
}

.address-wrap,
.phone-wrap,
.web-site-wrap {
	margin-bottom: 20px;
/*	background-image: url(../img/location.png);
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
*/}

/*span.address {
	display: block;

}*/

.contacts a {
	text-decoration: none;
	color: #8238A7;	
	text-transform: none;
}

.contacts img {
	width: 30px;

}

.web-site-wrap img {
	opacity: 0.6;
	width: 35px;
}

form {
	text-align: center;

}

input {
	display: block;
	margin: 10px auto;
	width: 350px;
	/*border-radius: 30px;*/
}

textarea {
	margin: 0 auto;
	width: 350px;	
	/*border-radius: 30px;*/
}

button {
	display: block;
	margin: 0 auto;
	border-radius: 10px;
	color: #fff;
	background-color: #8238A7;
	border: none;
	text-transform: uppercase;
	line-height: 40px;
	font-weight: 600;
}
